@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1530px) {
  .container {
    max-width: 94%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
@media (min-width: 1530px) {
  .programes-container {
    max-width: 92%;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
html,
body {
  padding: 0;
  margin: 0;
}
