@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.header-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 67px;
}
.svg-fill:hover .svg-fill >*{
  fill: white !important;
  transition: fill 0.2s ease-in-out;
}